@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body {
  background-color: black;
  font-size: 15px;
  margin: 0;
  font-family: 'Patrick Hand', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 