
.lp_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: -webkit-sticky;
    
}

.lp_title1 {
    font-family: cursive;
    font-size: 80px;
    color: rgb(243, 219, 4);
    margin-bottom: 20px;
    
} 


.lp_img_fondo {
    height: 100vh;
    background-image: url("https://images4.alphacoders.com/119/thumbbig-119638.webp");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    
  } 
  


.lp_button {
    width: 200px;
    font-family: cursive;
    font-size: xx-large;
    font-weight: bold;
    
    position: relative;
    bottom: 0px;
    right:20px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 255px;
    color: #041f99;
    cursor: pointer;
    outline: none;
    border: none;
    border: 3px solid;
    
    
  }
  .lp_button:hover {
    width: 200px;
    height: 83px;
    background: #1EAE98;
    color:#fff;
    box-shadow: 0px 0px 4px 4px #1DB9C3;
  }